* {
    box-sizing: border-box;
  }
 
  body {
    background-color:  #F5F5DD;
    margin: 0px;
    font-family: 'segoe ui';
  }
 .flip-back-title{
  font-size:xx-large;
  
 }

 
 .flip-back-desc{
  font-size:small;
  margin-top: 4%;
 }
 .flip-back-price{
  font-size:large;
  margin-top: 4%;
  color: green;
 }
 footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  /* padding-top: 40px; */
  color: #fff;
}
.footer-content{
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
  .nav {
    height: 60px;
    width: 100%;
    background-color:white;
    position: relative;
    margin-bottom: 20vh;
  }
  .test{
    background-color: #89CFF0;
    width: 50vw;
    height: 40vh;
    display: inline-block; *display: inline; zoom: 1; 
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .bottom-title{
    color: white;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:40px;
    padding-top: 25vh;
    padding-left: 35vw;
  }
  .bottom-title-1{
    color: #89CFF0;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:40px;
    padding-top: 25vh;
    padding-left: 4 vw;
  }
  .nav > .nav-header {
    display: inline;
    height: 10vh;
    
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block; 
    flex-direction: row;
    margin-left: 40px;
    font-size: 22px;
    color: black;
     padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    padding: 6px 6px 6px 6px;
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding:20px 2px 5px 2px;
    text-decoration: none;
    font-size: medium;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
  }
  
  .nav > .nav-links > a:hover {
    /* background-color: white; */
    font-size: large;
    color: #cee8f0;
   
  }
  
  .nav > #nav-check {
    display: none;
  }
  /* .flip-card-back{font-size: larger} */
  .flip-card:hover .flip-card-inner {

transform: rotateY(180deg);
/* opacity: 0; */
}
.flip-card:hover .flip-card-inner {

transform: rotateY(180deg);
/* opacity: 0; */
}
.flip-card {
background-color: transparent;
width: 300px;

margin-bottom: 5%;
height: 200px;
/* border: 1px solid #f1f1f1; */
perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
/* background-color:#FAFAFA; */
background-color: transparent;
color: black;
}

/* Style the back side */
.flip-card-back {
/* background-color: #FAFAFA; */
background-color: transparent;
color: black;
/* opacity: 0; */
margin-top: 20%;
font-size: 10px;
transform: rotateY(180deg);
}
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      background-color: black;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(0, 0, 0, 0.3); */
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }


  }